
<br>
<br>
<br>
<br>
<br>
<div align="center"><h2>Parceiros</h2></div>
<br>
<div class="content-grid">
  <div class="row">
    <div class="col-sm-3 col-lg-3">
      <div class="" style="min-height: 150px; align-items: center;display: -webkit-flexbox;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          height: 10em;">
        <div class="block-content">
          <%= link_to_image("hosp_locaweb_neg.png", "http://www.locaweb.com.br/cloud/jelastic ",target: "_blank") %>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-lg-3">
      <div class="" style="min-height: 150px; align-items: center;display: -webkit-flexbox;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          text-align: center;
          height: 10em;">
        <div class="block-content">
          <%= link_to_image("menino.png", "https://eucompraria.com.br/",target: "_blank") %>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<br>
<br>
<br>