
<div class="container" style="margin-top: 100px;">
      <h1> Política de Privacidade </h1>
      <!--      <p> GoRails está empenhado em proteger a privacidade dos nossos usuários. Esta declaração destina-se a informar os nossos utilizadores de como podemos definir, recolher e utilizar informações de identificação pessoal. Tomaremos medidas razoáveis ​​para proteger a privacidade do usuário consistente dentro das diretrizes estabelecidas nesta política e da lei. Ao utilizar este site, você concorda com a seguinte política de privacidade. </p>-->

      <!--      <p> Esta política foi modificada pela última vez em 22 de Dezembro de 2015. </p>-->

      <!--      <h3> Informação Pessoal </h3>-->

      <!--      <p> informações do usuário é coletada durante o preenchimento de um formulário, o processamento de uma ordem, ou inscrever através de um serviço de terceiros (como o GitHub). Em nenhum momento é o seu cartão de crédito informações armazenadas neste site ou tratadas por nós diretamente. </p>-->

      <!--      <p> Os cookies são usados ​​para armazenar informações sobre sua sessão atual e outras preferências. Esta informação pode ser usada para acompanhar o progresso do usuário e oferecer uma experiência mais personalizada. Os cookies podem ser desativados ou apagados em suas configurações do navegador da web. </p>-->

      <!--      <h3> Terceiros </h3>-->

      <!--      <P> Nós não vender, comercializar ou transferir as informações do usuário para terceiros. Isso não inclui terceiros de confiança que nos auxiliam no funcionamento do nosso site, conduzindo nosso negócio, ou serviço que você, desde que essas partes concordam em manter esta informação confidencial. Podemos também divulgar as suas informações quando acreditamos que é apropriado para cumprir a lei, fazer cumprir as nossas políticas de site, ou proteger nosso ou de outros direitos, a propriedade ou a segurança. No entanto, informações turísticas não-identificáveis ​​podem ser fornecidas a terceiros para marketing, publicidade, ou outros usos. </p>-->

      <!--      <P> Qualquer ligados, sites de terceiros têm políticas de privacidade separadas e independentes. Temos, portanto, nenhuma responsabilidade pelo conteúdo e atividades desses sites. </p>-->
    </div>


  