<% @partners.each do |partner| %>
<p>
  Nome: <%= partner.name %>
</p>
<p>
  Categoria: <%= t(partner.category) %>
</p>
<p>
  Link: <%= link_to partner.name, partner.link %>
</p>

<p>
Evento:
  <%= partner.event.name %>
</p>

<% end %>