/* line 1, /home/jcottobboni/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/go_blog-0.2.1/app/assets/stylesheets/tags.css.scss */
.css1 {
  font-size: 1.0em;
}

/* line 2, /home/jcottobboni/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/go_blog-0.2.1/app/assets/stylesheets/tags.css.scss */
.css2 {
  font-size: 1.2em;
}

/* line 3, /home/jcottobboni/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/go_blog-0.2.1/app/assets/stylesheets/tags.css.scss */
.css3 {
  font-size: 1.4em;
}

/* line 4, /home/jcottobboni/.rbenv/versions/2.4.2/lib/ruby/gems/2.4.0/gems/go_blog-0.2.1/app/assets/stylesheets/tags.css.scss */
.css4 {
  font-size: 1.6em;
}
