/* line 1, /home/benhur/.rvm/gems/ruby-2.4.2@gorails/gems/go_blog-0.2.2/app/assets/stylesheets/tags.css.scss */
.css1 {
  font-size: 1.0em;
}

/* line 2, /home/benhur/.rvm/gems/ruby-2.4.2@gorails/gems/go_blog-0.2.2/app/assets/stylesheets/tags.css.scss */
.css2 {
  font-size: 1.2em;
}

/* line 3, /home/benhur/.rvm/gems/ruby-2.4.2@gorails/gems/go_blog-0.2.2/app/assets/stylesheets/tags.css.scss */
.css3 {
  font-size: 1.4em;
}

/* line 4, /home/benhur/.rvm/gems/ruby-2.4.2@gorails/gems/go_blog-0.2.2/app/assets/stylesheets/tags.css.scss */
.css4 {
  font-size: 1.6em;
}
