<div class="col-sm-7 col-sm-pull-5 col-lg-8 col-lg-pull-4">
  <div class="block block-opt-refresh-icon6">
    <div class="block-header">
      <ul class="block-options">
        <li>
          <button type="button" data-toggle="block-option" data-action="fullscreen_toggle">
            <i class="si si-size-fullscreen"></i></button>
        </li>
        <li>
          <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo">
            <i class="si si-refresh"></i></button>
        </li>
      </ul>
      <h3 class="block-title"><i class="fa fa-newspaper-o"></i> Inventario</h3>
    </div>
    <div class="block-content">
      <div class="block">
        <div class="block-content">
          <div class="row">
            <% Gamification::Inventory.where(user_id: @user.id).each do |inventory| %>
                <div class="col-sm-6 col-lg-2">
                  <a class="block block-bordered block-link-hover3 text-center" href="javascript:void(0)">
                    <div class="block-content block-content-full bg-gray-lighter border-b" style="min-height: 75px;max-height:
                        50px">
                      <div class="h5 font-w700"><%= image_tag inventory.item.image.icon32 %></div>
                      <div class="h7 text-muted text-uppercase push-5-t"></div>
                    </div>
                    <div class="block-content block-content-full block-content-mini">
                      <%= link_to gamification_inventory_path(inventory, gamification_item_id: inventory.gamification_item_id,
                                                              user_id: @user.id, :equipped => true), :remote => true, :method => :put do %>
                          <i class="fa fa-code-fork text-success"></i>
                      <% end %>

                    </div>
                  </a>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>