
<li>
  <i class="si si-plus text-success"></i>
  <div class="font-w600">se registrou no evento</div>
  <% if activity.trackable %>
      <div><a href="javascript:void(0)"><%= link_to activity.trackable.name, activity.trackable %></a></div>
  <% else %>
      que jรก foi removido
  <% end %>
  <div><small class="text-muted"><%=activity.trackable.created_at.strftime("%d/%M/%Y as %H:%M")%></small></div>

</li>
