<div class="block-content">
  <h3 class="block-title">
    <i class="fa fa-fw fa-money"></i>Últimas Transações</h3>
  <% if @transactions.present? and @transactions.size > 0 %>
      <% @transactions.each do |transaction| %>
          <i class="fa fa-exchange"></i> <%= transaction.object %>:
          <%= transaction.decorate.operator %> <%= number_to_currency(transaction.value, :separator => ",", :delimiter => ".", :unit => "R$") %>
          <br>
      <% end %>
  <% end %>
</div>