<h3>Quem   <%= @event.event_happened? ? "marcou" : "já confirmou"%> presença no Evento</h3>
<br>
<div class="row">
  <%
    condition = {}
    condition = { presence: true } if @event.event_happened?
  %>
  <% @event.registrations.where(condition).each do |registration| %>
      <div class="col-sm-6 col-lg-1 " >
        <div class="block-content block-content-full clearfix">
          <%#if registration.user.avatar.present?%>
              <%#=  image_tag registration.user.avatar.thumb.url,class:"img-avatar","data-toggle"=>"tooltip", "data-placement"=>"top",  'data-original-title'=>"#{registration.user.event_name}"%>
          <%#else%>
              <%#= image_tag("user.png",:class=>"img-avatar","data-toggle"=>"tooltip", "data-placement"=>"top",  'data-original-title'=>"#{registration.user.event_name}" )%>

          <%#end%>


          <%=registration.user.decorate.user_avatar(true,'',true)%>
          <%#=registration.user.user_avatar%>

          <!--<div class="pull-left push-10-t">-->
          <!--<div class="font-w600 push-5"><%#=registration.user.event_name%></div>-->
          <!--<%#if registration.user.job_title%>-->
          <!--<div class="text-muted"><%#=registration.user.job_title%></div>-->
          <!--<%#end%>-->
          <!--</div>-->
        </div>
      </div>
  <%end%>

</div>

