<div class="content">
  <br>
  <br>
<h1>Editando Evento</h1>

<%= render 'form' %>

<%= link_to 'Show', @event ,class: "btn btn-xs btn-default"%> |
<%= link_to 'Back', events_path ,class: "btn btn-xs btn-default"%>
</div>
