<p class="text-primary">Total de <span id="ev-total"><%= registrations.count %></span> inscrito(s), com <span id="ev-present"><%= presents_count %></span> presente(s).</p>

<table class="table table-striped table-vcenter" data-url-base="<%= event_registration_path(@event, ':id') %>" id="event-registrations-list">
  <thead>
    <tr>
      <th class="w-1p"></th>
      <th class="w-10p">E-mail</th>
      <th class="w-6p">Nome</th>
      <th class="w-3p">Presente?</th>
    </tr>
  </thead>

  <tbody>
    <%= render registrations %>
  </tbody>
</table>
