<p>Ola! <%= @resource.email %>!</p>

<p>Alguém fez um pedido para resetar sua senha. Você pode efetuar este processo acessando o link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez este pedido. Por favor ignore este e-mail.</p>
<p>Sua Senha não será mudada ate que você acesse o link e crie uma nova</p>

