<!-- Page Container -->
<!--
    Available Classes:

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
    'header-navbar-transparent'  Enables a transparent header (if also fixed, it will get a solid dark background color on scrolling)
-->
<!-- Sidebar -->
<nav id="sidebar">
  <!-- Sidebar Scroll Container -->
  <div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
    <div class="sidebar-content">
      <!-- Side Header -->
      <div class="side-header side-content">
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-link text-gray pull-right visible-xs visible-sm" type="button" data-toggle="layout" data-action="sidebar_close">
          <i class="fa fa-times"></i>
        </button>

        <a class="h5 text-white" href="/">
          <%= image_tag("logo_sem_nome_mini.png",   alt: "GoRails", :style=> "margin-bottom: 4px;") %>
          <span class="h4 font-w600 sidebar-mini-hide">GoRails</span>
        </a>
      </div>
      <!-- END Side Header -->

      <!-- Side Content -->
      <div class="side-content">
        <ul class="nav-main">

          <%= render 'layouts/menu' %>
        </ul>
      </div>
      <!-- END Side Content -->
    </div>
    <!-- Sidebar Content -->
  </div>
  <!-- END Sidebar Scroll Container -->
</nav>
<!-- END Sidebar -->

<!-- Header -->
<header id="header-navbar" class="content-mini content-mini-full hidden-md hidden-lg">
  <div class="content-boxed">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
      <li>
        <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
        <div class="btn-group">
          <button class="btn btn-link text-white dropdown-toggle" data-toggle="dropdown" type="button">
            <i class="si si-drop"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right sidebar-mini-hide font-s13">
            <li>
              <a data-toggle="theme" data-theme="default" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-default pull-right"></i> <span class="font-w600">Default</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/amethyst.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-amethyst pull-right"></i> <span class="font-w600">Amethyst</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/city.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-city pull-right"></i> <span class="font-w600">City</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/flat.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-flat pull-right"></i> <span class="font-w600">Flat</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/modern.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-modern pull-right"></i> <span class="font-w600">Modern</span>
              </a>
            </li>
            <li>
              <a data-toggle="theme" data-theme="assets/css/themes/smooth.min.css" tabindex="-1" href="javascript:void(0)">
                <i class="fa fa-circle text-smooth pull-right"></i> <span class="font-w600">Smooth</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
        <button class="btn btn-link text-white pull-right" type="button" data-toggle="layout" data-action="sidebar_open">
          <i class="fa fa-navicon"></i>
        </button>
      </li>
    </ul>
    <!-- END Header Navigation Right -->

    <!-- Header Navigation Left -->
    <ul class="nav-header pull-left">
      <li class="header-content">
        <a class="h5" href="frontend_home.html">
          <i class="fa fa-circle-o-notch text-primary"></i> <span class="h4 font-w600 text-white">ne</span>
        </a>
      </li>
    </ul>
    <!-- END Header Navigation Left -->
  </div>
</header>
<!-- END Header -->