<% if user_signed_in? %>


    <% if current_user.admin? %>
        <li class="nav-main-heading"><span class="sidebar-mini-hide">Admin</span></li>
        <% if can? :magage, financial_transactions_path %>
            <li>
              <a href="/transparencia"><i class="fa fa-money"></i><span class="sidebar-mini-hide">Transparência</span></a>
            </li>
        <% end %>
        <li>
          <a href="/paginas"><i class="fa fa-money"></i><span class="sidebar-mini-hide">Paginas</span></a>
        </li>
        <% if can? :magage, link_categories_path %>

            <li>
              <a href="/link_categories"><i class="si si-list"></i><span class="sidebar-mini-hide"> Categorias de Links</span></a>
            </li>
        <% end %>

        <% if can? :magage, link_categories_path %>
            <li>
              <a href="/links"><i class="si si-link"></i><span class="sidebar-mini-hide"> Links</span></a>
            </li>
        <% end %>

        <% if can? :magage, users_path %>
            <li>
              <a href="/users"><i class="fa fa-users"></i><span class="sidebar-mini-hide"> Usuários</span></a>
            </li>
        <% end %>
        <% if can? :magage, blog_posts_path %>
            <li>
              <a href="/blog/posts"><i class="fa fa-file-text-o"></i><span class="sidebar-mini-hide"> Posts</span></a>
            </li>
        <% end %>
        <% if can? :magage, activities_index_path %>
            <%= link_to activities_index_path do %>
                <i class="si si-list"></i><span class="sidebar-mini-hide">Atividades</span>
            <% end %>
        <% end %>

    <% else %>

        <li><%= link_to new_user_registration_path, :class => 'navbar-link' do %>
              <i class="fa fa-file-text-o"></i><span class="sidebar-mini-hide"> Registrar</span>
          <% end %>
        </li>

        <li><%= link_to new_user_session_path, :class => 'navbar-link' do %>
              <i class="fa fa-sign-in"></i><span class="sidebar-mini-hide"> Logar</span>
          <% end %>
        </li>

    <% end %>
<% end %>
