<h1>Termos e Condições de Uso</h1>
<h3>1. Termos</h3>
<p>Ao acessar o site da gorails.com.br, você concorda em ficar vinculado por estes Termos e Condições de Uso, todas as
  leis e regulamentos aplicáveis, e concorda que você é responsável pelo cumprimento das leis locais aplicáveis. Se você
  não concordar com qualquer um destes termos, você está proibido de usar ou acessar este site. Os materiais,
  informações, software e conteúdo contido e no site da gorails.com.br (coletivamente aqui referidos como os
  "Materiais") são protegidos por direitos autorais e direito de marca. GoRails pode ser aqui referida como "nós",
  "nós", ou "gorails.com.br".</p>

<h3>2. Licença de Uso</h3>
<p>A permissão é concedida para descarregar temporariamente uma cópia dos Materiais no site da gorails.com.br apenas
  para visualização transitório pessoal, não comercial. Esta é a concessão de uma licença, não uma transferência de
  título, e sob esta licença você não pode:</p>
<ul>
  <li>modificar ou copiar os materiais;</li>
  <li>usar os Materiais para qualquer fim comercial, ou para qualquer exibição pública (comercial ou não comercial);
  </li>
  <li>tentar descompilar ou fazer engenharia reversa de qualquer dos Materiais;</li>
  <li>remover quaisquer direitos autorais ou outras notações proprietárias dos materiais; ou</li>
  <li>transferir os Materiais para outra pessoa ou "espelho" dos materiais em qualquer outro servidor./li>
</ul>
<p>Esta licença cessará automaticamente se você violar qualquer destas restrições e pode ser denunciado por
  gorails.com.br a qualquer momento. Após a conclusão da sua visualização destes materiais ou após o término desta
  licença, você deverá destruir qualquer material descarregado em sua posse seja em formato eletrônico ou impresso.</p>
<h3> 3. Aviso Legal </h3>
      <p> Os materiais são fornecidos "tal como está". gorails.com.br não oferece garantias, expressas ou implícitas, e
  renuncia e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de
  comercialização, adequação a uma finalidade específica ou não violação de propriedade intelectual ou outra violação de
  direitos. Além disso, gorails.com.br não garante ou faz qualquer representação relativa à precisão, os resultados
  prováveis, ou a confiabilidade do uso dos materiais ou outra forma relacionados com tais materiais ou em quaisquer
  sites vinculados a este site. </p>

      <h3> 4. Limitações </h3>
      <p> Em nenhum caso a gorails.com.br ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem
  limitação, danos por perda de dados ou lucros, ou devido à interrupção de negócios) decorrentes do uso ou incapacidade
  de usar os Materiais , mesmo se gorails.com.br ou gorails.com.br mandatário foi notificado verbalmente ou por escrito
  da possibilidade de tal dano. Como algumas jurisdições não permitem limitações sobre garantias implícitas ou
  limitações de responsabilidade por danos conseqüentes ou incidentais, as limitações podem não se aplicar a você. </p>
 <h3> 5. Revisões e Errata </h3>
      <p> Os materiais podem incluir erros, incluindo mas não se limitando a técnica, tipográfica, ou fotográfico. O
  gorails.com.br não garante que qualquer dos materiais são precisas, completas ou atuais. gorails.com.br pode fazer
  alterações nos materiais a qualquer momento sem aviso prévio, no entanto gorails.com.br não faz qualquer compromisso
  de atualizar os materiais.</p>

      <h3> 6. Ligações </h3>

      
<p> gorails.com.br não reviu todos os sites ligados ao seu web site e não é responsável pelo conteúdo de qualquer site
  ligado. A inclusão de qualquer link não implica qualquer endosso por gorails.com.br do web site vinculado. O uso de
  qualquer site ligado é por sua conta e risco. </p>

      <h3> 7. Site Termos de Uso Modificações </h3>
      
<p> gorails.com.br poderá rever estes Termos e Condições de Uso a qualquer momento sem aviso prévio. Ao utilizar este
  site, você concorda em ficar vinculado pela versão actual destes Termos e Condições de Uso. </p>

      <h3> 8. Lei Aplicável </h3>
      <p> Qualquer reclamação relativa ao site da gorails.com.br será regido pelas leis do Estado do Missouri, sem
  consideração com seu conflito às disposições da lei. </p>

      <p> Termos e Condições Gerais aplicáveis ​​à utilização de um Web Site. </p>

      <h3> 9. Política de reembolso </h3>
      
<p> Devido à natureza dos produtos GoRails (bens digitais não-tangíveis), não é possível "retorno" do produto, portanto,
  nós não oferecemos reembolso ou troca após a compra é feita. Se você está tendo algum problema com o arquivo, a
  instalação problemas, ou tiver alguma dúvida, envie um ticket de suporte, teremos o maior prazer para ajudar a
  resolver o problema. </p>






